@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --secondary-color: #121214;
    --main-color: #c89f40;
    --additional-color: #b35b00;
    --footer-color: #999999;
    --responsive-font: clamp(1.2rem, 1.8vw, 1.8rem);
}

body {
    font-family: "Teko", sans-serif;
    scroll-behavior: smooth;
}

::selection {
    background-color:var(--additional-color);
  }

/*NAVBAR*/
header,
.our-team-container {
    background-color: var(--secondary-color);
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px 13vw;
    position: relative;
}

button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    line-height: normal;
}

.nav-btn {
    min-height: 79px;
    min-width: 70px;

    color:  var(--main-color);
    font-size: 1.5rem;
}

.nav-btn:hover {
    color: var(--secondary-color);
    background-color: var(--main-color);
}

h1 {
    color: var(--main-color);
    margin: 12px;
}

.hot-dog-icon {
    vertical-align: bottom;
}

.active {
    background-color: var(--main-color);
    color: var(--secondary-color); 
}

/*NAVBAR END*/

/*ABOUT*/
.our-story-container {
    background-color: var(--main-color);
}

.our-story-container,
.our-team-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  padding: 50px 13vw;
  gap: 65px;
}

.first-hotdog-van,
.hot-dog-making {
    max-width: 100%;
    height: auto;

    border-radius: 25px;
    transition: 0.5s ease;
    filter:grayscale(70%);
    box-shadow: 2px 2px 15px 3px rgba(0,0,0,0.5);
}

.first-hotdog-van:hover,
.hot-dog-making:hover {
    transform: scale(105%);
    filter:sepia(30%);
    box-shadow: 10px 13px 23px 3px rgb(66, 66, 66);
}

.our-story-article,
.our-team-article {
    font-size: var(--responsive-font);
}

.our-story-article {
    color: var(--secondary-color);
}

.our-team-article {
    color: var(--main-color);
}

h2 {
    text-shadow: 1px 5px 1px var(--additional-color);
}

p {
    font-style: italic;
    text-align: justify;
    padding: 5px;
}

.img-holder {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(./images/333.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    height: calc(20vw - 15px);
}

.call-to-menu-btn {
    width: 150px;
    padding-bottom: 15px;
    
    font-size: 24px;
    font-weight: 400;
    color:aliceblue;

    border-bottom: 3px solid aliceblue;

    position: relative;
    transition: 0.5s;
}

.call-to-menu-btn:hover {
    padding-right: 25px;
}

.call-to-menu-btn::after {
    content: '➔';
    position: absolute;
    top: 15;
    right: 0;
    opacity: 0;
    transition: 0.5s;
}

.call-to-menu-btn:hover::after {
    opacity: 1;
    padding-right: 15px;
}
/*ABOUT END*/

/*FOOTER*/
footer {
    display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-items: start;
    gap: 24px;
 
    padding: 45px 13vw;

    font-family: "Quicksand", sans-serif;
    font-size: 0.8rem;

    background-color: var(--secondary-color);
    color: var(--footer-color);
    filter: sepia(50%);
}

.contacts-container,
.working-hours-container {
    border-right: 3px solid var(--footer-color);
    border-radius: 3px;
}

.author-info-container {
    grid-column: 1 / 4;
    text-align: center;
}

.author-info-container > a {
    font-size: 0.7rem;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.author-info-container > a:hover {
    border-bottom: 1px solid aliceblue;
    padding-bottom: 4px;
}

h3 {
    padding-bottom: 12px;
}
/*FOOTER END*/

/*HOME PAGE*/
.welcoming {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
  padding: 85px 25vw;
}

.parallax-wrapper {
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-position: center center;
    background-attachment: fixed;
    background-image: url(./images/main.webp);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
}

.buttons-container > button {
    min-width: 100px;
    margin-top: 10px;
    padding: 10px 10px 5px 10px;

    border-bottom: 4px solid var(--main-color);
    border-radius: 2px;

    font-size: 1.5rem;
    text-transform:uppercase;
    font-weight: 500;
    color: var(--secondary-color);
}

.buttons-container > button:hover {
    background-color: var(--main-color);
}

.benefits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  
    padding: 85px 13vw;
    gap: 20px;
    background-color: var(--secondary-color);
}

.benefit {
    background-color: var(--main-color);
    border-radius: 10px;
    padding: 25px 1.5em;
    font-size: clamp(1.1rem, 1.5vw, 1.4rem);
}

.benefit > * {
    padding: 10px;
}

.benefit > p + p {
    padding: 0;
    background-color: var(--additional-color);
}

/*SUBSCRIPTION*/
.subscription-message-container {
    padding: 85px 13vw;
    font-size: 1.5rem;
}

.borders-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;

    border-top: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    padding: 30px 0;
   
    font-family: 'Quicksand';
    font-size: 1rem;
    font-style: normal;
}

.borders-container > button {
    padding: 12px 40px;
    min-width: 230px;

    border: 2px solid var(--main-color);
    transition: 0.3s;
}

.borders-container > button:hover {
    background-color: var(--main-color);
    color: aliceblue;
}

/*HOMEPAGE END*/

/*CONTACT US PAGE*/
.contact-form-header-group {
    text-align: center;
    margin-bottom: 30px;
}

.contact-form-header-group > p,
.form-group > button{
    font-size: 1.5rem;
}

.contact-form-header {
    text-shadow: 1px 5px 1px var(--additional-color);
    color: var(--secondary-color);
}

.form-group > button {
    color: var(--additional-color);
    border: 2px solid var(--additional-color);
    padding: 15px 0;
}

.form-group > button:hover {
    background-color: var(--additional-color);
    color: var(--secondary-color);
}

form:focus-within {
    color: var(--additional-color);
}

.form-wrapper{ 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    padding-top: 30px;
    padding-bottom: 30px;

    background-color: var(--main-color);
    font-size: 1.2rem;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    width: 55%;
    padding: 50px 70px;

    background-color: var(--secondary-color);
    border-radius: 10px;
    color: aliceblue;
    transition: 0.4s;
}

.form-group {
    display: grid;
    gap: 0.5rem;
} 

.--full-width {
    grid-column: 1 / -1;
}

input,
select {
    height: 45px;
    border: none;
}

input, 
textarea,
select {
    border-radius: 1px;
    border-bottom: 3px solid var(--additional-color);
    padding: 0 15px;
}

input:focus-visible, 
textarea:focus-visible {
    outline: none;
}

textarea {
    resize: none;
}

.footnote {
    color: var(--main-color);
    font-size: 1rem;
}

.news-checkbox-container {
    display: flex;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: var(--additional-color);
    margin-right: 20px;
}

@media (max-width: 1000px) {
    form {
        width: 95%;
        grid-template-columns: 1fr;
    }
}
/*CONTACT US PAGE END*/

/*MENU*/
.menu-wrapper {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-wrapper > h2 {
    text-align: center;
    padding-top: 40px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    padding: 85px 24vw;
}

.item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 20px;

    height: 300px;
    padding-left: 20px;

    border: 2px solid var(--secondary-color);
    box-shadow: 5px 8px 0px 1px var(--secondary-color);
    border-radius: 10px;
}

.item > img {
    transition: 0.5s;
    justify-self: center;
}

.item > img:hover {
    transform: scale(105%);
}

.item-description-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Quicksand';
    font-size: 0.8rem;
    font-weight: 900;
    color: var(--secondary-color);
}

.item-description-wrapper span {
    padding: 5px;
    align-self: flex-start;

    background-color: var(--secondary-color);
    color: white;
    border-radius: 25px;

    font-size: 1rem;
    font-weight: 700;

    transform: translateX(-30px) rotate(15deg);
}

.item-description-wrapper p {
    padding: 10px 30px;
    margin-bottom: 5px;

    font-style: normal;
    font-size: 18px;

    background-color: #b35b00;
    border-radius: 55px;
}

.menu-item-img {
    height: auto;
    max-height: 200px;
    width: 200px;
    max-width: 100%;
    align-self: center;
}

/*MEDIA FOR WHOLE SITE*/
@media (max-width: 850px) {
    .wrap {
        flex-direction: column;
        padding: 0;
    }

    .welcoming, 
    .benefits,
    .subscription-message-container,
    .menu {
        padding: 85px 3vw;
    }

    .benefits,
    footer,
    .our-team-container,
    .our-story-container {
        grid-template-columns:auto;
    }

    .our-team-container,
    .our-story-container {
        gap: 15px;
    }
    .borders-container {
        flex-direction: column;
    }
    
    .author-info-container {
        grid-column: auto;
    }

    .contacts-container,
    .working-hours-container {
        border-right: none;
    }

    .img-holder {
        height: 25vh;
    }
}
    @media(max-width: 400px) {
    .menu {
        padding: 85px 1vw;
    }
    
    .item {
        grid-template-columns:auto;
        padding-left: 0;
    }
    .item-description-wrapper {
        margin-left: 30px;
    }
    
    form {
        padding: 50px 20px;
    }
}

/*Push to git
Check images (give links to them) and make some aware that you don't owe them AND not using for commercial
DO production bundle?
https://www.youtube.com/watch?v=TTOkgUNmNk0&list=PL07efmqYWHZ_cxA1GvuXQMA-VYk8dhuiv&index=5 
25: 22*/